.ajax-progress{display:inline-block;padding:1px 5px 2px 5px}[dir="rtl"] .ajax-progress{float:right}.ajax-progress-throbber .throbber{display:inline;padding:1px 5px 2px;background:transparent url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif) no-repeat 0 center}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px}tr .ajax-progress-throbber .throbber{margin:0 2px}.ajax-progress-bar{width:16em}.ajax-progress-fullscreen{position:fixed;z-index:1000;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:.9;border-radius:7px;background-color:#232323;background-image:url(/core/themes/stable/css/system/components/../../../images/core/loading-small.gif);background-repeat:no-repeat;background-position:center center}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto}
.text-align-left{text-align:left}.text-align-right{text-align:right}.text-align-center{text-align:center}.text-align-justify{text-align:justify}.align-left{float:left}.align-right{float:right}.align-center{display:block;margin-right:auto;margin-left:auto}
.js input.form-autocomplete{background-image:url(/core/themes/stable/css/system/components/../../../images/core/throbber-inactive.png);background-repeat:no-repeat;background-position:100% center}.js[dir="rtl"] input.form-autocomplete{background-position:0 center}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif);background-position:100% center}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0 center}
.fieldgroup{padding:0;border-width:0}
.container-inline div,.container-inline label{display:inline}.container-inline .details-wrapper{display:block}
.clearfix:after{display:table;clear:both;content:""}
.js details:not([open]) .details-wrapper{display:none}
.hidden{display:none}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto}.invisible{visibility:hidden}
.item-list__comma-list,.item-list__comma-list li{display:inline}.item-list__comma-list{margin:0;padding:0}.item-list__comma-list li:after{content:", "}.item-list__comma-list li:last-child:after{content:""}
.js .js-hide{display:none}.js-show{display:none}.js .js-show{display:block}
.nowrap{white-space:nowrap}
.position-container{position:relative}
.progress{position:relative}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff}.progress__bar{width:3%;min-width:3%;max-width:100%;height:1.5em;background-color:#000}.progress__description,.progress__percentage{overflow:hidden;margin-top:.2em;color:#555;font-size:.875em}.progress__description{float:left}[dir="rtl"] .progress__description{float:right}.progress__percentage{float:right}[dir="rtl"] .progress__percentage{float:left}.progress--small .progress__track{height:7px}.progress--small .progress__bar{height:7px;background-size:20px 20px}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.resize-none{resize:none}.resize-vertical{min-height:2em;resize:vertical}.resize-horizontal{max-width:100%;resize:horizontal}.resize-both{max-width:100%;min-height:2em;resize:both}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle}.system-status-counter__status-icon:before{display:block;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:20px}.system-status-counter__status-icon--error:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/e32700/error.svg)}.system-status-counter__status-icon--warning:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/e29700/warning.svg)}.system-status-counter__status-icon--checked:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/73b355/check.svg)}
.system-status-report-counters__item{width:100%;margin-bottom:.5em;padding:.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,.063)}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between}.system-status-report-counters__item--half-width{width:49%}.system-status-report-counters__item--third-width{width:33%}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc}.system-status-general-info__item-title{border-bottom:1px solid #ccc}
body.drag{cursor:move}tr.region-title{font-weight:bold}tr.region-message{color:#999}tr.region-populated{display:none}tr.add-new .tabledrag-changed{display:none}.draggable a.tabledrag-handle{float:left;overflow:hidden;height:1.7em;margin-left:-1em;cursor:move;text-decoration:none}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0}a.tabledrag-handle:hover{text-decoration:none}a.tabledrag-handle .handle{width:14px;height:14px;margin:-.4em .5em 0;padding:.42em .5em;background:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/move.svg) no-repeat 6px 7px}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/000000/move.svg)}.touchevents .draggable td{padding:0 10px}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0}.touchevents a.tabledrag-handle{width:40px;height:44px}.touchevents a.tabledrag-handle .handle{height:21px;background-position:40% 19px}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px}.tabledrag-toggle-weight-wrapper{text-align:right}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left}.indentation{float:left;width:20px;height:1.7em;margin:-.4em .2em -.4em -.4em;padding:.42em 0 .42em .6em}[dir="rtl"] .indentation{float:right;margin:-.4em -.4em -.4em .2em;padding:.42em .6em .42em 0}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%}.tablesort--asc{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-down.svg)}.tablesort--desc{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-up.svg)}
div.tree-child{background:url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat 11px center}div.tree-child-last{background:url(/core/themes/stable/css/system/components/../../../images/core/tree-bottom.png) no-repeat 11px center}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center}div.tree-child-horizontal{background:url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat -11px center}
.video__lightbox--none,.ns-vidyard__lightbox--none{display:none}
.dropbutton-wrapper,.dropbutton-wrapper div{box-sizing:border-box}.js .dropbutton-wrapper,.js .dropbutton-widget{position:relative;display:block}@media screen and (max-width:600px){.js .dropbutton-wrapper{width:100%}}@media screen and (min-width:600px){.form-actions .dropbutton-wrapper{float:left}[dir="rtl"] .form-actions .dropbutton-wrapper{float:right}}.js .form-actions .dropbutton-widget{position:static}.js td .dropbutton-widget{position:absolute}.js td .dropbutton-wrapper{min-height:2em}.js td .dropbutton-multiple{max-width:100%;margin-right:2em;padding-right:10em}[dir="rtl"].js td .dropbutton-multiple{margin-right:0;margin-left:2em;padding-right:0;padding-left:10em}.js td .dropbutton-multiple .dropbutton-action a,.js td .dropbutton-multiple .dropbutton-action input,.js td .dropbutton-multiple .dropbutton-action button{width:auto}.js .dropbutton-widget .dropbutton{overflow:hidden;margin:0;padding:0;list-style-type:none;list-style-image:none}.js .dropbutton li,.js .dropbutton a{display:block;outline:0}.js .dropbutton li:hover,.js .dropbutton li:focus,.js .dropbutton a:hover,.js .dropbutton a:focus{outline:initial}.js .dropbutton-multiple .dropbutton-widget{padding-right:2em}.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget{padding-right:0;padding-left:2em}.dropbutton-multiple.open,.dropbutton-multiple.open .dropbutton-widget{max-width:none}.dropbutton-multiple.open{z-index:100}.dropbutton-multiple .dropbutton .secondary-action{display:none}.dropbutton-multiple.open .dropbutton .secondary-action{display:block}.dropbutton-toggle{position:absolute;top:0;right:0;bottom:0;display:block;width:2em;white-space:nowrap;text-indent:110%}[dir="rtl"] .dropbutton-toggle{right:auto;left:0}.dropbutton-toggle button{display:block;width:100%;height:100%;margin:0;padding:0;cursor:pointer;border:0;background:none}.dropbutton-toggle button:hover,.dropbutton-toggle button:focus{outline:initial}.dropbutton-arrow{position:absolute;top:50%;right:40%;display:block;overflow:hidden;width:0;height:0;margin-top:-.1666em;border-width:.3333em .3333em 0;border-style:solid;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;line-height:0}[dir="rtl"] .dropbutton-arrow{right:auto;left:.6667em}.dropbutton-multiple.open .dropbutton-arrow{top:.6667em;border-top-color:transparent;border-bottom:.3333em solid}
.layout-container{margin:0 1.5em}.layout-container:after{display:table;clear:both;content:""}@media screen and (min-width:38em){.layout-container{margin:0 2.5em}.layout-column{float:left;box-sizing:border-box}[dir="rtl"] .layout-column{float:right}.layout-column+.layout-column{padding-left:10px}[dir="rtl"] .layout-column+.layout-column{padding-right:10px;padding-left:0}.layout-column--half{width:50%}.layout-column--quarter{width:25%}.layout-column--three-quarter{width:75%}}.panel{padding:5px 5px 15px}.panel__description{margin:0 0 3px;padding:2px 0 3px 0}.compact-link{margin:0 0 .5em 0}small .admin-link:before{content:" ["}small .admin-link:after{content:"]"}.system-modules thead>tr{border:0}.system-modules div.incompatible{font-weight:bold}.system-modules td.checkbox{width:4%;min-width:25px}.system-modules td.module{width:25%}.system-modules td{vertical-align:top}.system-modules label,.system-modules-uninstall label{color:#1d1d1d;font-size:1.15em}.system-modules details{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#5c5c5b;line-height:20px}.system-modules details[open]{overflow:visible;height:auto;white-space:normal}.system-modules details[open] summary .text{text-transform:none;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto}.system-modules td details a{color:#5c5c5b;border:0}.system-modules td details{height:20px;margin:0;border:0}.system-modules td details summary{padding:0;cursor:default;text-transform:none;font-weight:normal}.system-modules td{padding-left:0}[dir="rtl"] .system-modules td{padding-right:0;padding-left:12px}@media screen and (max-width:40em){.system-modules td.name{width:20%}.system-modules td.description{width:40%}}.system-modules .requirements{max-width:490px;padding:5px 0}.system-modules .links{overflow:hidden}.system-modules .checkbox{margin:0 5px}.system-modules .checkbox .form-item{margin-bottom:0}.admin-requirements,.admin-required{color:#666;font-size:.9em}.admin-enabled{color:#080}.admin-missing{color:#f00}.module-link{display:block;float:left;margin-top:2px;padding:2px 20px;white-space:nowrap}[dir="rtl"] .module-link{float:right}.module-link-help{background:url(/core/themes/stable/css/system/../../images/core/icons/787878/questionmark-disc.svg) 0 50% no-repeat}[dir="rtl"] .module-link-help{background-position:top 50% right 0}.module-link-permissions{background:url(/core/themes/stable/css/system/../../images/core/icons/787878/key.svg) 0 50% no-repeat}[dir="rtl"] .module-link-permissions{background-position:top 50% right 0}.module-link-configure{background:url(/core/themes/stable/css/system/../../images/core/icons/787878/cog.svg) 0 50% no-repeat}[dir="rtl"] .module-link-configure{background-position:top 50% right 0}.module-link--non-stable{padding-left:18px;background:url(/core/themes/stable/css/system/../../../../misc/icons/e29700/warning.svg) 0 50% no-repeat}[dir="rtl"] .module-link--non-stable{padding-right:18px;padding-left:0;background-position:top 50% right 0}.system-status-report__status-title{position:relative;box-sizing:border-box;width:100%;padding:10px 6px 10px 40px;vertical-align:top;background-color:transparent;font-weight:normal}[dir="rtl"] .system-status-report__status-title{padding:10px 40px 10px 6px}.system-status-report__status-icon:before{position:absolute;top:12px;left:12px;display:block;width:16px;height:16px;content:"";background-repeat:no-repeat}[dir="rtl"] .system-status-report__status-icon:before{right:12px;left:auto}.system-status-report__status-icon--error:before{background-image:url(/core/themes/stable/css/system/../../images/core/icons/e32700/error.svg)}.system-status-report__status-icon--warning:before{background-image:url(/core/themes/stable/css/system/../../images/core/icons/e29700/warning.svg)}.system-status-report__entry__value{padding:1em .5em}.theme-info__header{margin-bottom:0;font-weight:normal}.theme-default .theme-info__header{font-weight:bold}.theme-info__description{margin-top:0}.system-themes-list{margin-bottom:20px}.system-themes-list-uninstalled{padding-top:20px;border-top:1px solid #cdcdcd}.system-themes-list__header{margin:0}.theme-selector{padding-top:20px}.theme-selector .screenshot,.theme-selector .no-screenshot{max-width:100%;height:auto;padding:2px;text-align:center;vertical-align:bottom;border:1px solid #e0e0d8}.theme-default .screenshot{border:1px solid #aaa}.system-themes-list-uninstalled .screenshot,.system-themes-list-uninstalled .no-screenshot{max-width:194px;height:auto}@media screen and (min-width:45em){body:not(.toolbar-vertical) .system-themes-list-installed .screenshot,body:not(.toolbar-vertical) .system-themes-list-installed .no-screenshot{float:left;width:294px;margin:0 20px 0 0}[dir="rtl"] body:not(.toolbar-vertical) .system-themes-list-installed .screenshot,[dir="rtl"] body:not(.toolbar-vertical) .system-themes-list-installed .no-screenshot{float:right;margin:0 0 0 20px}body:not(.toolbar-vertical) .system-themes-list-installed .system-themes-list__header{margin-top:0}body:not(.toolbar-vertical) .system-themes-list-uninstalled .theme-selector{float:left;box-sizing:border-box;width:31.25%;padding:20px 20px 20px 0}[dir="rtl"] body:not(.toolbar-vertical) .system-themes-list-uninstalled .theme-selector{float:right;padding:20px 0 20px 20px}body:not(.toolbar-vertical) .system-themes-list-uninstalled .theme-info{min-height:170px}}@media screen and (min-width:60em){.toolbar-vertical .system-themes-list-installed .screenshot,.toolbar-vertical .system-themes-list-installed .no-screenshot{float:left;width:294px;margin:0 20px 0 0}[dir="rtl"] .toolbar-vertical .system-themes-list-installed .screenshot,[dir="rtl"] .toolbar-vertical .system-themes-list-installed .no-screenshot{float:right;margin:0 0 0 20px}.toolbar-vertical .system-themes-list-installed .theme-info__header{margin-top:0}.toolbar-vertical .system-themes-list-uninstalled .theme-selector{float:left;box-sizing:border-box;width:31.25%;padding:20px 20px 20px 0}[dir="rtl"] .toolbar-vertical .system-themes-list-uninstalled .theme-selector{float:right;padding:20px 0 20px 20px}.toolbar-vertical .system-themes-list-uninstalled .theme-info{min-height:170px}}.system-themes-list-installed .theme-info{max-width:940px}.theme-selector .incompatible{margin-top:10px;font-weight:bold}.theme-selector .operations{margin:10px 0 0 0;padding:0}.theme-selector .operations li{float:left;margin:0;padding:0 .7em;list-style-type:none;border-right:1px solid #cdcdcd}[dir="rtl"] .theme-selector .operations li{float:right;border-right:0;border-left:1px solid #cdcdcd}.theme-selector .operations li:last-child{padding:0 0 0 .7em;border-right:0}[dir="rtl"] .theme-selector .operations li:last-child{padding:0 .7em 0 0;border-left:0}.theme-selector .operations li:first-child{padding:0 .7em 0 0}[dir="rtl"] .theme-selector .operations li:first-child{padding:0 0 0 .7em}.system-themes-admin-form{clear:left}[dir="rtl"] .system-themes-admin-form{clear:right}.cron-description__run-cron{display:block}.system-cron-settings__link{overflow-wrap:break-word;word-wrap:break-word}
