.ns-mkto__modal{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;overflow-x:hidden;overflow-y:auto;display:block;background-color:rgba(0,0,0,.4)}.ns-mkto__modal__wrapper{max-width:48rem}.ns-mkto__modal__wrapper__content{display:flex;position:relative;width:100%;background-color:#fff}.ns-mkto__modal>.container{max-width:768px}.ns-mkto__close i,.ns-mkto__close svg{cursor:pointer}
