.video__lightbox--none,.ns-vidyard__lightbox--none{display:none}
.views-align-left{text-align:left}.views-align-right{text-align:right}.views-align-center{text-align:center}.views-view-grid .views-col{float:left}.views-view-grid .views-row{float:left;clear:both;width:100%}.views-display-link+.views-display-link{margin-left:.5em}
.caption .media .field,.caption .media .field *{float:none;margin:unset}
.paragraph--unpublished{background-color:#fff4f4}
