.ns-mkto__modal{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;overflow-x:hidden;overflow-y:auto;display:block;background-color:rgba(0,0,0,.4)}.ns-mkto__modal__wrapper{max-width:48rem}.ns-mkto__modal__wrapper__content{display:flex;position:relative;width:100%;background-color:#fff}.ns-mkto__modal>.container{max-width:768px}.ns-mkto__close i,.ns-mkto__close svg{cursor:pointer}
#engage22{position:fixed;z-index:100;color:#fff;background-color:#282d34;background-repeat:no-repeat;background-size:cover;overflow:hidden;padding:1rem;width:300px;max-width:300px;min-width:300px;visibility:hidden;left:calc(50% - 150px);top:120%}#engage22.visible{visibility:visible}#engage22 .close{text-align:right;line-height:1}@media screen and (min-width:768px){#engage22{visibility:hidden;left:auto;right:-350px;top:50%}}
