.ns-instagram-feed .instagram_gallery{overflow:auto}.ns-instagram-feed .instagram_gallery a{opacity:1;transition:opacity .35s ease-in-out}.ns-instagram-feed .instagram_gallery a:hover{opacity:.5}.ns-instagram-footer{margin-top:30px}.ns-instagram-footer a{position:relative;border-bottom:1px;border-bottom-style:solid;border-bottom-color:#53565a;font-weight:700;padding-bottom:0;transition:border-bottom-color .3s ease,padding-bottom .2s ease}.ns-instagram-footer a:hover{color:#789d4a;cursor:pointer;border-bottom-color:#789d4a;padding-bottom:2px}
