#engage22{position:fixed;z-index:100;color:#fff;background-color:#282d34;background-repeat:no-repeat;background-size:cover;overflow:hidden;padding:1rem;width:300px;max-width:300px;min-width:300px;visibility:hidden;left:calc(50% - 150px);top:120%}#engage22.visible{visibility:visible}#engage22 .close{text-align:right;line-height:1}@media screen and (min-width:768px){#engage22{visibility:hidden;left:auto;right:-350px;top:50%}}
