.ns-menu__search__dropdown__filters form>input.form-text{margin-top:0}.ns-menu__secondary__list{margin-bottom:0}.ns-menu__item>a{text-decoration:none}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{width:auto !important;border-bottom:0 !important}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody table.dataTable{margin:0 !important}
#engage22{position:fixed;z-index:100;color:#fff;background-color:#282d34;background-repeat:no-repeat;background-size:cover;overflow:hidden;padding:1rem;width:300px;max-width:300px;min-width:300px;visibility:hidden;left:calc(50% - 150px);top:120%}#engage22.visible{visibility:visible}#engage22 .close{text-align:right;line-height:1}@media screen and (min-width:768px){#engage22{visibility:hidden;left:auto;right:-350px;top:50%}}
